@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * {
    border: 1px solid red;
} */

/*  COLOR PALETE:

#52575C
#85B5E1
#C3D0DC
#364A5C
#969FA8

*/

html, body {
    background-color: #C3D0DC;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px 0px;
}


h1 {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Nunito', arial, sans-serif;
    font-size: 4vw;
    color: #52575C;
}

img {
    width: 20vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    box-shadow: .3rem .3rem .3rem #85B5E1;
}

h2, h2 + h2 {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Nunito', arial, sans-serif;
    font-size: 1.5vw;
    color: #969FA8;

}

h2 + h2 {
    margin-top: -1vh;
    font-size: 1.1vw;
    color: #85B5E1;

}

h2 a {
    color: #969FA8;
    text-decoration: none;
}

h2 + h2 a {
    color: #85B5E1;
    text-decoration: none;
}

div#main-content {
    width: 100vw;
    height: fit-content;
}

div#main-content p {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    font-family: 'Nunito', arial, sans-serif;
    color: #364A5C;
}

div#resume-content {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

div#resume-content img {
    width: 70vw;
    height: fit-content;
}

div#form-content {
    width: 100vw;
    display:flex;
    justify-content: center;
    padding-bottom: 10vh;
}

div#form-content form label {
    color: #364A5C;
    font-family: 'Nunito', arial, sans-serif;
}